.selector-contain--center {
  display: flex;
  justify-content: center;
}

.selector-contain--between {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.game-config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}