.modal-game {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  max-width: 640px;
  min-width: 250px;

  padding: 20px 16px;
  
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.modal-game--title {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 20px;
  color: black;
}

.modal-game--description {
  font-size: .9rem;
  width: 100%;
  color: black;
  margin-bottom: 15px;
}

dialog::backdrop {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
}