.aside-result {
  display: flex;
  justify-content: center;
  margin: 16px auto;
}

.aside-middle {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 8px;
}


.result-picked--container {
  display: flex;
  justify-content: center;
  gap: 15px
}

.result-picked--container aside {
  text-align: center;
}